<table class="right_div table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>学号</th>
			<th>生日</th>
			<th>性别</th>
			<th>姓名</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<#list list as each>
		<tr>
			<td>${each.id}</td>
			<td>${each.studentId }</td>
			<td>${each.birthday}</td>
			<td>${each.sex}</td>
			<td>${each.name}</td>
			<td>${each.status}</td>
			<td><a class="button_url" href="people_edit.do?id=${each.id}">修改</a></td>
		</tr>
		</#list>
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$("a.button_url").click(function() {
			$.ajax({
				url : $(this).attr("href"),
				dataType : "html"
			}).done(function(data) {
				$(data).modal({
					backdrop : true,
					keyboard : true,
					show : true
				});
			});
			return false;
		});
	});
</script>