<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
		<style type="text/css">
			table {
				border-collapse: collapse;
			}
			table,th,td {
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<div>
			<table>
				<tr>
					<td>ID</td>
					<td>姓名</td>
					<td>性别</td>
					<td>生日</td>
					<td>学号</td>
					<td>状态</td>
					<td>操作</td>
				</tr>
				<#list peoples as people>
					<tr>
						<td>${people.id}</td>
						<td>${people.name}</td>
						<td>${people.sex}</td>
						<td>${people.birthday}</td>
						<td>${people.studentId}</td>
						<td>${people.status}</td>
						<td>
							<a href="#">修改</a>
							<a href="#">删除</a>
						</td>
					</tr>
				</#list>
			</table>
		</div>
	</body>
</html>