<#-- 主页 20121119 limingwei@mail.com-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="这里是页面的描述">
		<meta name="author" content="limingwei@mail.com">

		<title>Bootstrap, from Twitter中文版/中文翻译</title>

		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

		<link href="source/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="source/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}	
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>

		<!--[if lt IE 9]>
		      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="source/jquery-1.8.2.min.js"></script>
		<script src="source/bootstrap/js/bootstrap-transition.js"></script>
		<script src="source/bootstrap/js/bootstrap-alert.js"></script>
		<script src="source/bootstrap/js/bootstrap-modal.js"></script>
		<script src="source/bootstrap/js/bootstrap-dropdown.js"></script>
		<script src="source/bootstrap/js/bootstrap-scrollspy.js"></script>
		<script src="source/bootstrap/js/bootstrap-tab.js"></script>
		<script src="source/bootstrap/js/bootstrap-tooltip.js"></script>
		<script src="source/bootstrap/js/bootstrap-popover.js"></script>
		<script src="source/bootstrap/js/bootstrap-button.js"></script>
		<script src="source/bootstrap/js/bootstrap-collapse.js"></script>
		<script src="source/bootstrap/js/bootstrap-carousel.js"></script>
		<script src="source/bootstrap/js/bootstrap-typeahead.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("a.frame_url").each(function(index,element){
					$.ajax({
						url : $(this).attr("href"),
						dataType : "html"
					}).done(function(data) {
						$(element).replaceWith(data);
					});
				});
			});
		</script>
	</head>
	<body>
		<!-- 顶部导航 -->
		<a class="frame_url" href="top.do"></a>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<!-- 左侧导航 -->
					<a class="frame_url" href="left.do"></a>
				</div>
				<div class="span9">
					<!-- 右侧内容 -->
					<a class="frame_url" href="right.do"></a>
				</div>
			</div>
			<hr>
			<!-- 底部 -->
			<a class="frame_url" href="foot.do"></a>
		</div>
	</body>
</html>