<#-- 左侧导航 20121119 limingwei@mail.com-->

<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">汪洋在任时</li>
		<li class="active"><a href="#">汪书记最英明</a></li>
		<li><a href="#">汪书记最英明</a></li>
		<li><a href="#">汪书记最英明</a></li>
		<li><a href="#">汪书记最英明</a></li>
		<li class="nav-header">薄熙来在任时</li>
		<li><a href="#">薄书记最英明</a></li>
		<li><a href="#">薄书记最英明</a></li>
		<li><a href="#">薄书记最英明</a></li>
		<li><a href="#">薄书记最英明</a></li>
		<li><a href="#">薄书记最英明</a></li>
		<li><a href="#">薄书记最英明</a></li>
		<li class="nav-header">薄熙来下台了</li>
		<li><a href="#">中央最英明</a></li>
		<li><a href="#">中央最英明</a></li>
		<li><a href="#">中央最英明</a></li>
	</ul>
</div>