<div class="hero-unit">
	<h1>依法打击自荐参选人大代表的不法分子</h1>
	<p>
		针对当前出现的一些不法分子自荐参选人大代表的行为，各级党和政府既不能惊慌失措，甚至提出修宪、修法限制公民选举权，授人以柄的幼稚提议，更不能软弱涣散，听之任之，让这些所谓独立人士进入各级人大立法机构；既要从思想上和行动上旗帜鲜明地坚决维护党的利益，及时采取各种切实有力措施，破坏敌对势力的图谋，又要注意工作方式、方法，在现有宪法和法律许可的范围内，依法、坚决、果断地处置此类事件，防止以粗暴简单的方法损害党和政府在群众中的形象，维护宪法和法律的尊严。 
	</p>
	<p>
		<a class="btn btn-primary btn-large">了解更多 »</a>
	</p>
</div>

<div class="row-fluid">
	<div class="span4">
		<h2>一、禁止电视、广播、报刊等传统媒体公开报道</h2>
		<p>
			禁止电视、广播、报刊等传统媒体公开报道个人自荐参选、独立参选之类的新闻，严禁组织相关专题节目或访谈。违者严肃追究媒体单位领导及其上级主管部门的党纪和行政责任，造成不良影响的一律先免职再追责。 
		</p>
		<p>
			<a class="btn" href="#">了解更多 »</a>
		</p>
	</div><!--/span-->
	<div class="span4">
		<h2>二、加强对网络媒体的管理。</h2>
		<p>
			对境外媒体和网站有关此类报道的内容一律屏蔽，国内任何媒体包括网络媒体均不得转载。在国内网络论坛上，对发布自荐或独立参选消息的内容一律屏蔽，并尽量减少对此类事件的网络讨论，原则上支持自荐或独立参选行为的主帖一律删除，反对此类行为的帖子也不宜太多太滥。对管理不善的网站，视情况给予流量控制、临时关闭直至永久关闭的处罚，同时追究主管单位负责人的行政和党纪责任。 
		</p>
		<p>
			<a class="btn" href="#">了解更多 »</a>
		</p>
	</div><!--/span-->
	<div class="span4">
		<h2>三、基层调查</h2>
		<p>
			基层党组织和公安、乡镇、街道等政府部门，要针对特定人群做出舆情调查，及时发现不法分子自荐或独立参选的苗头，早发现、早处置，力争把事态尽早消灭在萌芽之中。
		</p>
		<p>
			<a class="btn" href="#">了解更多 »</a>
		</p>
	</div><!--/span-->
</div><!--/row-->