<div>
	<div>静态文本</div>
	<div>
		${message}
	</div>
	<div>
		${user.username}
	</div>
	<div>
		${user.getUsername()}
	</div>
	<div>
		${user["username"]}
	</div>
	<div>
		${user.username}
	</div>
	<div>
		<!--- var a=5,b="hello" -->
		${a} ${b}
	</div>
	<div>
		<!--- for(each in 0 to 9){ -->
			${each}
		<!--- } -->
	</div>
	<div>
		<!--- if(true){"是的"}else{"不是的"} -->
	</div>
	<div>
		<!--- if(true){flag.true}else{flag.false} -->
	</div>
	<div>
		<!--- if(true){ -->${flag.true}<!--- }else{ -->${flag.false}	<!--- } -->
	</div>
	<div>
		<!--- if(true){ -->是的<!--- }else{ -->不是的<!--- } -->
	</div>
</div>