<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="ioc.xsd">
	<beans>
		<bean name="monitoring" class="li.datasource.MonitoringDataSource">
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
		</bean>
		<!-- <bean name="druid" class="com.alibaba.druid.pool.DruidDataSource">
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
		</bean> -->
		<!-- <bean name="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="jdbcUrl" value="${db.url}" />
			<property name="user" value="${db.username}" />
			<property name="password" value="${db.password}" />
		</bean> -->
		<!-- <bean name="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
		</bean> -->
		<!-- <bean name="simple" class="li.dao.SimpleDataSource">
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
		</bean> -->
		<bean class="li.aop.Account">
			<property name="dataSource" />
		</bean>
	</beans>
</config>