<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<root>
		<priority value="ALL" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="LOG4J:[%t] %r %p %d %c - %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="FATAL" />
			<param name="LevelMin" value="TRACE" />
		</filter>
	</appender>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="E:/log4j.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="LOG4J:[%t] %r %p %d %c - %m %n" />
		</layout>
	</appender>
</log4j:configuration>